.khan__buy-link {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    position: absolute;
    top: 0;
    text-decoration: none;
    color: #2f80ed;
    left: 668px;
}

.khan__buy-link:hover {
    opacity: .45;
    transition: .3s;
}